/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
    --font-family1: 'Abril Fatface', cursive;
    --font-family2: 'Poppins', sans-serif;
	/* Colors */
	--main-color-black: #190204;
	--main-color-white: blanchedalmond;
	--main-color-coral: #FF8976;
	--main-color-pepper: #CB4E47;
	--main-color-peach: #FFCBA4;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Example Syntax */
#sec_lan {
	background-color: var(--main-color-white);
    font-family: 'Poppins', sans-serif;
}

#heading {
	background-color: var(--main-color-coral);
    color: var(--main-color-pepper);
}

#nav-horizontal {
	height: 30vh;
	background-color: var(--main-color-peach);
    font-family: 'Abril Fatface', cursive;
}




h1{
    font-family: 'Abril Fatface', cursive;
	color: var(--main-color-pepper);
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
}

li{
    font-family: 'Poppins', sans-serif;
}


[role=button]{
    background-color: #CB4E47; 
    Color:blanchedalmond   
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
