/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
    --font-family1: 'Abril Fatface', cursive;
    --font-family2: 'Poppins', sans-serif;
	/* Colors */
	--main-color-black: #190204;
	--main-color-white: blanchedalmond;
	--main-color-coral: #FF8976;
	--main-color-pepper: #CB4E47;
	--main-color-peach: #FFCBA4;
    --main-color-sage: #C0D8C0;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Example Syntax */
#sec_lan {
	background-color: var(--main-color-white);
    font-family: 'Poppins', sans-serif;
}

#heading {
	background-color: var(--main-color-coral);
    color: var(--main-color-pepper);
}

#heading a:hover{
    background-color: var(--main-color-sage);
    border-color: var(--main-color-sage);
}

#nav-horizontal {
	height: 14.5vh;
	background-color: var(--main-color-peach);
    font-family: 'Abril Fatface', cursive;
    align-items: center;
}

#nav-horizontal a:hover{
    background-color: var(--main-color-sage);
    border-color: var(--main-color-sage);

}


#nav-list {
	height: 18vh;
	background-color: var(--main-color-peach);
    font-family: 'Abril Fatface', cursive;
    align-items: center;
}


h1{
    font-family: 'Abril Fatface', cursive;
	color: var(--main-color-pepper);
}

h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

p{
    font-family: 'Poppins', sans-serif;
}

li{
    font-family: 'Poppins', sans-serif;
}


#button {
    background-color: var(--main-color-pepper);
    Color:var(--main-color-white);
    border-color:var(--main-color-pepper);
}

#botton a:hover{
    background-color: var(--main-color-sage);
}

a:hover {
    color: var(--main-color-pepper);
}


/* Experience Section - Box Practice */

.element1{
    color:black;
    background-color:#C0D8C0;
    width: 45%;
    height: 625px;
    padding: 55px;
    border: 10px solid #CB4E47;
    margin: 10px;
    box-sizing: border-box;
    float: left;

}


.element2{
    background-color:#C0D8C0;
    width: 45%;
    height: 625px;
    padding: 80px;
    border: 50px solid #CB4E47;
    margin: 10px;
    float: right;
}



/* Education Section - Flexbox Practice */
.flexbox-container{
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

    .flexbox-item{
        width: 300px;
        margin: 10px;
        border: 3px solid #333;
        background-color: #FFCBA4;
        text-align: center;
        justify-items: center;    
        }

        .flexbox-item-1{ 
            min-width: 500px;
            padding: 10px;
            border: 10px solid #CB4E47;
        
        }

        .flexbox-item-2{
            min-width: 500px;
            padding: 10px;
            border: 10px solid #CB4E47;
        }

        .flexbox-item-3{ 
            min-width: 500px;
            padding: 10px;
            border: 10px solid #CB4E47;
           
        }


/* Other Sections*/

.element0{
    color:black;
    background-color:#FFCBA4;
    width: 100%;
    height: auto;
    padding: 25px;
    border: 10px solid #CB4E47;
    margin: 50px;
}

/*Transforamtion/Animation Elements*/

 .logoparent{
    width: auto;
    height: 400px;
    background-color: blanchedalmond;
    padding : 30px;
}

.logochild{
    height: 50%;
    width: 50%;
    
    background-image:url("../img/RMlogo.png");
    background-size: 200px auto;
    background-repeat:no-repeat;
    background-position: center;
    animation: logo 10s ease-in forwards infinite alternate ;
}

.parentanimate:hover .childanimate{
    animation-play-state: paused;
}

@keyframes logo{
    0%{transform: translatex(0%);}
    33%{transform: translateY(100%);}
    66%{transform: translateX(100%)translateY(100%);}
    100%{transform: translatex(100%);}
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
    

}

.box {
    width: 300px;
    height: 150px;
    transition-duration: 2s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFCBA4;
    padding: 25px;
    border: 10px solid #CB4E47;
    margin: 50px
}

.portfolio {
    width: 300px;
    height: 75px;
    transition-duration: 2s;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFCBA4;
    padding: 25px;
    border: 10px solid #CB4E47;
    margin: 50px
}

.container:hover .box {
  width: 1000px;
}

.container:hover .portfolio {
  width: 1000px;
}


.one {
  transition-timing-function: linear;
}

.two {
  transition-timing-function: ease-in;
}

.three {
  transition-timing-function: ease-out;
}

.four {
  transition-timing-function: ease-in-out;
}

.five {
  transition-timing-function: ease-in;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
