/* CSS Reference from W3School: https://www.w3schools.com/cssref/ */

/* Example Variables */
:root {
	/* Fonts */
    --font-family1: 'Abril Fatface', cursive;
    --font-family2: 'Poppins', sans-serif;
	/* Colors */
	--main-color-black: #190204;
	--main-color-white: blanchedalmond;
	--main-color-coral: #FF8976;
	--main-color-pepper: #CB4E47;
	--main-color-peach: #FFCBA4;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Example Syntax */
#sec_lan {
	background-color: var(--main-color-white);
    font-family: 'Poppins', sans-serif;
}

#heading {
	background-color: var(--main-color-coral);
    
}

#nav-horizontal {
	height: 10vh;
	background-color: var(--main-color-peach);
    font-family: 'Abril Fatface', cursive;
}


h1{
    font-family: 'Abril Fatface', cursive;
}

p{
    font-family: 'Poppins', sans-serif;
}

li{
    font-family: 'Poppins', sans-serif;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
